*{
    background-color: beige;
}

img{
    width:50%;
}

.yes{
    background-color: green;
}

.no{
    background-color: red;
}

nav{
    position: absolute;
    bottom: 0%;
    height: 6%;
    border: 2px solid lightblue;
    margin: auto 45%;
}

.buttons{
    margin-top: 40%;
}